#titleArea {
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    transform: scale(1.05, 1);
}

#boardArea {
    width: 380px;
    height: 125px;
    margin: 70px auto 50px;
    border: 1px solid gray;
    border-radius: 3px;
}

hr {
    width: 90%;
    height: 1px;
    margin: auto;
    border: none;
    background: gray;
}

#inputArea {
    width: 90%;
    height: 40%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}

#resultArea {
    width: 90%;
    height: 60%;
    line-height: 73px;
    margin: auto;
    font-family: 'Times New Roman', serif;
    font-size: 25px;
    border: none;
    background: transparent;
}

button {
    width: 120px;
    height: 33px;
    border: 1px solid gray;
    border-radius: 3px;
    background: lightgray;
}

button:hover {
    background: darkgray;
}

button:active {
    transform: translate(0, 2px);
}