body {
    margin: 100px 50px 100px 50px;
    text-align: center;
    background-image: url('Triangle Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#titleArea {
    margin: 0 0 50px 0;
    font-family: "Playfair Display", serif;
    transform: scale(1.05, 1);
    font-size: 33px;
    line-height: 140%;
}

#group {
    width: 400px;
    margin: auto;
}

#inputArea {
    width: 60%;
    height: 27px;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 3px;
    outline: none;
}

button {
    width: 30%;
    height: 31px;
    margin: 0 0 27px 7px;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 3px;
}

button:hover {
    background: lightgray;
}

button:active {
    transform: translateY(2px);
}

#resultArea {
    width: 375px;
    height: 105px;
    line-height: 105px;
    margin: auto;
    font-family: "Times New Roman", serif;
    font-size: 25px;
    border: 1px solid darkgray;
    border-radius: 3px;
}