@font-face {
    font-family: 'Playfair Display';
    src: url('/asset/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    src: url('/asset/TimesNewRoman.ttf');
}

body {
    margin: 100px 50px 100px 50px;
    width: 80%;
    text-align: center;
    background-image: url('/asset/TriangleBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#titleArea {
    margin: 0 0 50px 0;
    font-family: 'Playfair Display', serif;
    font-size: 33px;
    transform: scale(1.05, 1);
    line-height: 140%;
}

#group {
    width: 380px;
    height: 125px;
    margin: auto auto 40px auto;
    border: 1px solid darkgray;
    border-radius: 3px;
}

hr {
    width: 90%;
    height: 1px;
    margin: auto;
    border: none;
    background: darkgray;
}

#inputArea {
    width: 90%;
    height: 40%;
    margin: auto;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}

#resultArea {
    width: 90%;
    height: 60%;
    line-height: 73px;
    margin: auto;
    font-family: 'Times New Roman', serif;
    font-size: 25px;
    border: none;
    background: transparent;
}

button {
    width: 120px;
    height: 33px;
    margin: auto;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 3px;
    background: lightgray;
}

button:hover {
    background: darkgray;
}

button:active {
    transform: translateY(2px);
}